.online-appointment {
  background-color: $background-color;
}

.title {
  @extend %title-name;
}

.input-field {
  margin-top: 44px;
  background-color: $background-color;
  border: transparent;
  border-bottom: 1px solid $main-3-color;
}

.label-style {
  position: relative;
  color: $main-3-color;

  display: block;
}

.button {
  @include button($background-color, $main-3-color);
}
