.online-appointment {
  background-color: $background-color;
}

.title {
  @extend %title-name;
  margin-bottom: 44px;
}

.input {
  position: relative;
  display: block;
  margin-bottom: 44px;
}

.input-field {
  width: 100%;
  resize: none;
  background-color: $background-color;
  border: 0;
  border-bottom: 1px solid $footer-rgba;

  transition: border-color $animation;
}

.button {
  @include button($background-color, $main-2-color);
}
